.dimensions {
  margin-left: 10px;
}

.dimensions > input {
  margin-right: 10px;
  width: 3em;
  display: inline-block;
}

.toggle-buttons {
  margin-left: 10px;
}

.toggle-buttons > button {
  margin-top: 10px;
  margin-right: 10px;
  display: block;
}

.grid {
  margin-left: 10px;
  margin-top: 20px;
  /* border-style: solid;
  border-color: black; */
  border-width: thick;
  border-spacing: 1px;
  table-layout: fixed;
}

[class^="grid-cell"] {
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.grid-cell[title="dead"] {
  background-color: white;
}

.grid-cell[title="alive"] {
  background-color: black;
}

.grid td {
  border: solid .001em lightgray;
}
